body{
    width: 300px;
}
h1{
    text-align: center;
}
legend{
    font-weight: bold;
    font-size: 18px;
}
label{
    margin: 10px;
    display: block;
}
[type='submit']{
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: orange;
}