*{
    margin: 0;
    padding: 0;
}
#container{
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
}
#slides{
    width: 3400px;
    transition-property: margin-left;
    transition-duration: 0.5s;
}
img{
    float: left;
    display: inline;
}
